# aliases
alias yum='brew'
alias ll='ls -lisah'
alias getpass='openssl rand -base64 20'
alias c='clear'
alias hs='history | grep'

alias sha='shasum -a 256 '

# Processes
alias psg='ps auwx | grep '

# File system
alias gorepos='cd /Users/$HOME/Repos'
alias df='df -h'
alias 1cd='cd ..'
alias 2cd='cd ../../'
alias 3cd='cd ../../../'
alias 4cd='cd ../../../../'

# Time
alias getunixtime='date +%s'
alias convertunixtime='date -j -r'

# Network aliases
alias ping='ping -c 5'
alias speed='speedtest-cli --server 3026 --simple'
alias ipe='curl ifconfig.co'
alias ipi='ipconfig getifaddr en0'

# macOS
alias ls='/opt/homebrew/bin/gls -h --group-directories-first --color=auto'

# Kubernetes
alias k='oc'
alias kubectl='oc'
alias k-clean-namespace='kubectl delete pods --field-selector=status.phase!=Running'
